{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" rel="home" class="site-logo">
      <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
        <title/><g data-name="Dish" >
          <path fill="currentColor" d="M32,0A32,32,0,1,0,64,32,32.036,32.036,0,0,0,32,0Zm0,62A30,30,0,1,1,62,32,30.034,30.034,0,0,1,32,62Z"/>
          <path fill="currentColor" d="M46.561,10.457a1,1,0,0,0-1.122,1.656A23.877,23.877,0,1,1,41.42,9.919a1,1,0,1,0,.787-1.839,26.034,26.034,0,1,0,4.354,2.377Z"/>
          <path fill="currentColor" d="M47,30a1,1,0,0,0-1,1v1.184a2.746,2.746,0,0,0-.285.117l-1.008-1.008a1,1,0,0,0-1.414,1.414L44.3,33.715a2.746,2.746,0,0,0-.117.285H42a1,1,0,0,0,0,2h2.184a2.746,2.746,0,0,0,.117.285l-1.008,1.008a1,1,0,1,0,1.414,1.414L45.715,37.7a2.746,2.746,0,0,0,.285.117V39a1,1,0,0,0,2,0V37.816a2.746,2.746,0,0,0,.285-.117l1.008,1.008a1,1,0,0,0,1.414-1.414L49.7,36.285A2.746,2.746,0,0,0,49.816,36H52a1,1,0,0,0,0-2H49.816a2.746,2.746,0,0,0-.117-.285l2.008-2.008a1,1,0,0,0-1.414-1.414L48.285,32.3A2.746,2.746,0,0,0,48,32.184V31A1,1,0,0,0,47,30Zm1,5a1,1,0,1,1-1-1A1,1,0,0,1,48,35Z"/>
          <path fill="currentColor" d="M27.841,33.011c.1-.056.2-.115.3-.175a.688.688,0,0,1,.8.025l.124.1a3.54,3.54,0,0,0,5.36-1.037,3.453,3.453,0,0,0,.189-2.862,3.749,3.749,0,0,0-2.2-2.2A.688.688,0,0,1,32,26.181L32,26l0-.174a.69.69,0,0,1,.426-.685,3.749,3.749,0,0,0,2.2-2.2,3.453,3.453,0,0,0-.189-2.862,3.54,3.54,0,0,0-5.361-1.036l-.121.1a.692.692,0,0,1-.805.028c-.1-.061-.2-.12-.3-.176a.687.687,0,0,1-.376-.714,3.751,3.751,0,0,0-.81-3.008A3.453,3.453,0,0,0,24.085,14a3.542,3.542,0,0,0-3.578,4.123l.026.157a.686.686,0,0,1-.374.708c-.1.056-.2.115-.3.175a.692.692,0,0,1-.81-.029,3.746,3.746,0,0,0-3.01-.8,3.455,3.455,0,0,0-2.384,1.595,3.54,3.54,0,0,0,1.78,5.159l.145.055a.687.687,0,0,1,.426.678L16,26l0,.174a.69.69,0,0,1-.426.685,3.749,3.749,0,0,0-2.2,2.2,3.453,3.453,0,0,0,.189,2.862,3.54,3.54,0,0,0,5.361,1.036l.121-.1a.693.693,0,0,1,.805-.028c.1.061.2.12.3.176a.687.687,0,0,1,.376.714,3.751,3.751,0,0,0,.81,3.008A3.453,3.453,0,0,0,23.915,38H24a3.542,3.542,0,0,0,3.493-4.124l-.026-.157A.686.686,0,0,1,27.841,33.011Zm-.736-1.884c-.072.044-.146.087-.224.129a2.7,2.7,0,0,0-1.387,2.792l.027.158a1.543,1.543,0,0,1-.356,1.263,1.616,1.616,0,0,1-1.2.531,1.438,1.438,0,0,1-1.079-.543,1.778,1.778,0,0,1-.377-1.409,2.7,2.7,0,0,0-1.387-2.791c-.076-.042-.151-.085-.226-.131a2.762,2.762,0,0,0-1.436-.4,2.638,2.638,0,0,0-1.681.6l-.122.1a1.54,1.54,0,0,1-2.333-.452,1.439,1.439,0,0,1-.07-1.206,1.775,1.775,0,0,1,1.027-1.029A2.7,2.7,0,0,0,18,26.123V25.87a2.7,2.7,0,0,0-1.722-2.6l-.145-.055a1.542,1.542,0,0,1-.775-2.247,1.438,1.438,0,0,1,1.009-.663,1.783,1.783,0,0,1,1.41.378,2.7,2.7,0,0,0,3.117.191c.072-.044.146-.087.224-.129a2.7,2.7,0,0,0,1.387-2.792l-.027-.158a1.543,1.543,0,0,1,.356-1.263,1.6,1.6,0,0,1,1.2-.531,1.438,1.438,0,0,1,1.079.543,1.778,1.778,0,0,1,.377,1.409,2.7,2.7,0,0,0,1.387,2.791c.076.042.151.085.226.131a2.7,2.7,0,0,0,3.117-.193l.122-.1a1.54,1.54,0,0,1,2.333.452,1.437,1.437,0,0,1,.07,1.2,1.774,1.774,0,0,1-1.027,1.03A2.7,2.7,0,0,0,30,25.877v.253a2.7,2.7,0,0,0,1.723,2.6,1.775,1.775,0,0,1,1.027,1.029,1.439,1.439,0,0,1-.07,1.206,1.541,1.541,0,0,1-2.332.453l-.125-.1A2.7,2.7,0,0,0,27.105,31.127Z"/>
          <path fill="currentColor" d="M24,22a4,4,0,1,0,4,4A4,4,0,0,0,24,22Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,24,28Z"/>
          <path fill="currentColor" d="M39.272,43.43a3,3,0,0,0-4.565-.38l-.076.076a.893.893,0,0,1-1.262,0,3.084,3.084,0,0,0-3.939-.4,3,3,0,0,0-.38,4.565l.076.076a.893.893,0,0,1,0,1.262,3.084,3.084,0,0,0-.4,3.939,3,3,0,0,0,4.565.38l.076-.076a.893.893,0,0,1,1.262,0l.076.076a2.994,2.994,0,0,0,2.121.879c.081,0,.162,0,.243-.01a3.008,3.008,0,0,0,2.2-1.249,3.084,3.084,0,0,0-.4-3.939.893.893,0,0,1,0-1.262A3.084,3.084,0,0,0,39.272,43.43ZM37.46,50.045a1.084,1.084,0,0,1,.189,1.356,1,1,0,0,1-.739.424.987.987,0,0,1-.789-.289l-.076-.076a2.892,2.892,0,0,0-4.09,0l-.076.076a.983.983,0,0,1-.789.289,1,1,0,0,1-.739-.423,1.086,1.086,0,0,1,.189-1.357,2.9,2.9,0,0,0,0-4.09l-.076-.076a1,1,0,0,1,.134-1.528,1.086,1.086,0,0,1,1.357.189,2.961,2.961,0,0,0,4.09,0l.076-.076a1,1,0,0,1,1.528.134,1.086,1.086,0,0,1-.189,1.357,2.892,2.892,0,0,0,0,4.09Z"/>
          <path fill="currentColor" d="M44,16a3,3,0,1,0,3,3A3,3,0,0,0,44,16Zm0,4a1,1,0,1,1,1-1A1,1,0,0,1,44,20Z"/>
          <path fill="currentColor" d="M19,47a3,3,0,1,0,3-3A3,3,0,0,0,19,47Zm4,0a1,1,0,1,1-1-1A1,1,0,0,1,23,47Z"/>
        </g>
      </svg>
    </a>
  {% endif %}

  {% if site_name %}
    <div class="site-name">
      <a href="{{ path('<front>') }}" rel="home">{{ site_name }}</a>
    </div>
  {% endif %}
{% endblock %}
